*{
    box-sizing: border-box;
    color: white;
}

body{
    background-color: lightcyan;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgb(5, 65, 144);
}

.container{
    display: flex;
    align-items: start;
    width: 70vw;
    justify-content: space-around;
}

textarea{
    height: 300px;
    width: 500px;
    font-size: 2rem;
    background-color: rgb(5, 65, 144);
    padding: 10px;
    border: none;
    border: 3px solid black;
}

.output-text{
    width: 500px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.571);
    font-size: 2rem;
    text-align: start;
    padding: 10px;
    box-shadow: 4px 4px 8px black;
}

h3{
    text-align: start;
}